@import "src/styles/theme";
@import "src/styles/breakpoints";

.container {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: $gray-1;
    padding-bottom: 30px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.showMore {
  border: 1px solid $orange;
  color: $orange;
  padding: 12px 20px;
  line-height: 24px;
  width: 245px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 30px 0 40px;
  font-size: 16px;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .container {
    padding: 0 80px;

    h2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
    }
  }

  .products {
    gap: 30px;
    justify-content: space-around;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .container {
    padding: 0 50px;

    h2 {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 20px;
    }
  }

  .products {
    gap: 20px;
  }

}

@media screen and (max-width: $breakpoint-mobile-medium) {
  .container {
    padding: 0 30px;
  }

  .products {
    gap: 15px;
  }
}

