@import "src/styles/theme";
@import "src/styles/breakpoints";

.container {
  background-color: $milk;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.textContent {
  margin: 0 70px 0 100px;
  max-width: 378px;

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: $gray-1;
    padding-bottom: 7px;
  }

  p {
    color: $gray-2;
    padding-bottom: 25px;
  }

  button {
    background-color: $orange;
    color: $white;
    padding: 20px 40px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba($orange, 0.8);
    }
  }
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .textContent {
    margin: 0 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, p {
      text-align: center;
    }

    h2 {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  .textContent {
    margin: 0 50px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {

  .container {
    padding: 50px 0 60px;
  }

  .textContent {
    margin: 0 30px;

    h2 {
      font-size: 32px;
      line-height: 42px;
      padding-bottom: 5px;
    }
  }
}
