@import "src/styles/theme";

.container {
  background-color: $milk;
}

.textContent {
  padding: 100px 0;
  margin: 0 100px;
  width: 378px;

  & h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: $gray-1;
    padding-bottom: 7px;
  }

  & p {
    color: $gray-2;
    padding-bottom: 25px;
  }

  & button {
    background-color: $orange;
    color: $white;
    padding: 20px 40px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba($orange, 0.8);
    }
  }
}