// Brand colors
$milk: #FCF8F3;
$beige: #F9F1E7;
$orange: #E89F71;
$light-coral: #E97171;
$light-sea-green: #2EC1AC;

// Neutral colors
$white: #FFFFFF;
$light-gray: #F4F5F7;
$gray-6: #E3E3E3;
$gray-5: #D8D8D8;
$gray-4: #B0B0B0;
$gray-3: #898989;
$gray-2: #616161;
$gray-1: #3A3A3A;
$black: #000000;