@import "src/styles/theme";

.container {
  background-color: $beige;
  position: relative;
  padding: 200px 0 0;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $milk;
    height: 100%;
    width: 33%;
  }
}

.carouselImage {
  height: 37vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 3%;

  & img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}

.introText {
  position: absolute;
  left: 100px;
  bottom: 90px;
  width: 515px;
  padding: 63px 60px;
  background-color: rgba($white, 0.72);
  backdrop-filter: blur(20px);

  & h1 {
    color: $gray-1;
    line-height: 68px;
    font-size: 56px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  & p {
    color: $gray-3;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 40px;
    font-weight: 300;
  }

  & button {
    background-color: $orange;
    color: $white;
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba($orange, 0.8);
    }
  }
}