@import "src/styles/theme";
@import "src/styles/breakpoints";

.container {
  background-color: $beige;
  position: relative;
  padding: 200px 0 0;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $milk;
    height: 100%;
    width: 33%;
  }
}

.carouselImage {
  height: 37vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 3%;

  & img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}

.introText {
  position: absolute;
  left: 6.8vw;
  bottom: 6vw;
  width: 33vw;
  padding: 63px 60px;
  background-color: rgba($white, 0.72);
  backdrop-filter: blur(20px);

  & h1 {
    color: $gray-1;
    line-height: 68px;
    font-size: 52px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  & p {
    color: $gray-3;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 40px;
    font-weight: 300;
  }

  & button {
    background-color: $orange;
    color: $white;
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba($orange, 0.8);
    }
  }
}

@media screen and (max-width: $breakpoint-desktop-medium){
  .introText {
    padding: 45px 40px;

    & h1 {
      line-height: 62px;
      font-size: 3vw;
    }

    & p {
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 30px;
    }

    & button {
      padding: 16px 32px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media screen and (max-width: $breakpoint-desktop-semi-medium){
  .introText {
    padding: 45px 40px;

    & h1 {
      line-height: 50px;
      font-size: 2.6vw;
    }

    & p {
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 24px;
    }

    & button {
      padding: 12px 30px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}