@import "../../../styles/theme";

.container {
  width: 285px;
  height: 446px;
  background-color: $light-gray;
  position: relative;

  & img {
    width: 100%;
    height: auto;
  }

  & h5 {
    color: $gray-1;
    font-size: 24px;
    font-weight: 500;
    padding: 7px 18px 5px;
  }

  & h5 + p {
    color: $gray-3;
    padding: 0 18px 8px;
  }
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 18px;

  & p {
    font-size: 20px;
    font-weight: 500;
    color: $gray-1;
  }

  & s {
    color: $gray-4;
  }
}

.price {
  font-size: 20px;
  font-weight: 500;
  padding: 0 18px;
}

.discountMarker, .newProductMarker {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: $white;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.discountMarker {
  background-color: $light-coral;
}

.newProductMarker {
  background-color: $light-sea-green;
}

.hoverOptions {
  position: absolute;
  padding: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: rgba($gray-1, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  & > button {
    background-color: $white;
    color: $orange;
    padding: 10px 20px;
    line-height: 24px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: $light-gray;
    }
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;

    & button {
      background-color: transparent;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;
    }
  }
}

.container:hover .hoverOptions {
  opacity: 1;
  visibility: visible;
}
