@import 'src/styles/theme';
@import 'src/styles/breakpoints';

.container {
  border-top: 1px solid $gray-5;
  margin: 0 100px;
  padding: 80px 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 40px 40px;
  flex-wrap: wrap;

  & h2 {
    padding-bottom: 16px;
    color: $gray-1;
  }

  & form {
    display: flex;
    align-items: center;
    gap: 4px;

    & input {
      background-color: $light-gray;
      padding: 12px;
      width: 240px;

      &::placeholder {
        font-weight: 300;
        color: $gray-2;
      }
    }

    & button {
      background-color: $orange;
      color: $white;
      padding: 10px;
      height: 44px;
    }
  }

  @media screen and (max-width: $breakpoint-desktop-semi-medium){
    margin: 0 80px;
    padding: 70px 0 40px;
  }

  @media screen and (max-width: $breakpoint-tablet){
    margin: 0 50px;
    padding: 60px 0 30px;
    gap: 30px 30px;

    & h2 {
      font-size: 18px;
      padding-bottom: 10px;
    }

    & > div:last-child {
      width: 100%;

      & input {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile-medium){
    margin: 0 30px;
    padding: 50px 0 30px;
    gap: 20px 25px;
  }
}

.listContainer {
  max-width: 270px;

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & li {
      display: flex;
      align-items: center;
      gap: 6px;
      color: $gray-2;

      & a:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tablet){
    max-width: none;

    & h2 {
      font-size: 18px;
      padding-bottom: 10px;
    }

    & ul {
      gap: 10px;
      font-size: 14px;
    }
  }
}